.board {
    width: 600px;
    height: 600px;
    background: #f1f3f5;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 24px;
    padding: 24px
}