.base-square {
    background: #ced4da;
    border: none;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 24pt;
    font-weight: 600;
    color: white;
    box-shadow: 0px 5px 5px #e9ecef;
}

.square-o {
    transition: 300ms ease-out;
    color: black;
    background: #f8f9fa;
}

.square-x {
    transition: 300ms ease-out;
    background: #343a40;
}

.base-square:hover {
    transition: 300ms;
    box-shadow: 0px 5px 5px #dee2e6;
}

.base-square:focus {
    outline: 0;
}